.side-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 15px 25px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    z-index: 10;
    overflow: scroll;
    background-color: #f8f8f8;
    box-shadow: -5px 0 15px #9e9e9e;
    animation-name: side-cart-animation;
    animation-duration: 0.5s;
}

@keyframes side-cart-animation {
    0% {
        right: -600px;
    }
    100% {
        right: 0;
    }
}

.cart-product-image {
    max-width: 50px;
}

.side-card .close-button {
    position: absolute;
    top: 15px;
    left: 15px;
}

.cart-total {
    margin: 15px 0;
}

.remove-button {
    padding: 5px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background-color: darksalmon;
}
