.product-container {
    display: grid;
    grid-template: 1fr 1fr  / 1fr 1fr 1fr;
    padding: 30px;
    grid-gap: 30px;
}

.product-container-title {
    display: flex;justify-content: center;
    padding: 20px;
}

.main-section .MuiTextField-root {
    display: flex;
    max-width: 40% ;
    margin: 30px auto;
}