header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px 30px;
    background: #f3f3f3;
    box-shadow: 1px 1px 5px #d1d1d1;
}

.header-container {
    z-index: 5;
}

.main-nav{
    display: flex;
    align-items: baseline;
    gap: 25px;
}