table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

th, td {
    padding: 15px;
}

a {
    text-decoration: none;
    color: #343434;
}

a.active {
    color: #1976d2;
}

a:hover {
    text-decoration: underline;
}

.btn {
    margin: 20px 5px 0;
    padding: 5px;
    background-color: beige;
    border: 1px solid black;
    cursor: pointer;
}

.btn.active {
    background-color: aquamarine;
}

.btn:hover {
    background-color: aquamarine;
    transition: 0.3s;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.header-container {
    grid-area: header;
}

.filters {
    grid-area: sidebar;
}

.main-section {
    grid-area: main;
    min-height: 80vh;
    padding: 0 5%;
}

.footer {
    grid-area: footer;
}

.MuiCircularProgress-root {
    margin-left: 35vw;
    margin-top: 35vh;
}

.MuiPagination-root {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.product-page-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}