table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

th, td {
    padding: 15px;
}

.btn {
    margin: 20px 5px 0;
    padding: 5px;
    background-color: beige;
    border: 1px solid black;
    cursor: pointer;
}

.btn.active {
    background-color: aquamarine;
}

.btn:hover {
    background-color: aquamarine;
    transition: 0.3s;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.header {
    grid-area: header;
}

.filters {
    grid-area: sidebar;
}

.main-section {
    grid-area: main;
}

.footer {
    grid-area: footer;
}